@charset "UTF-8";


/*メニューバーの編集ここから*/
.headermenu{
   /* background-color:brown; */
    position: fixed;
    z-index: index 999;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    display:flex;
    align-items: center;
    margin-bottom:0;

}

.headermenu li{
    float: center;
}

.headermenu ul{
    list-style: none;
}

body{
    padding-top: 90px;

}

main{
    height: 100vw; /*スクロールしても固定*/
    padding: 0 auto 0 auto; /*何かを中央に表示*/
   /* width:215px; */
}


/* class="nav" */
.nav li {
    display: inline;		/* インラインで横に表示する */
    list-style-type: none;	/* 先頭の記号をなくす */
    padding-right: 30px;		/* 区切りを空ける */
    line-height: 0.5;
     margin: 0 auto 0 auto;
     padding: 15px 30px 15px 30px;
     display: table-cell;
     font-size: 18px; /*メニューバー文字の大きさ*/
     padding-top:20px; /*メニューバーを下に降ろす*/
     border-bottom-width: 2.0px;	/* 破線の下線の大きさ */
     border-bottom-style: dashed;   /*下線を破線にする*/
     border-bottom-color: #B2D1D6; /*下線の色*/

  }

.nav{
	 margin: 0 auto 0 auto; /*メニューバーを中央揃え！重要！*/
}



/*メニューバーの色*/
.headermenu{ /* 通常時のカラー */
  color: #2B295F;
}

.headermenu a:link {/* 訪れたことのない時のカラー */
  color: #32586D;
  text-decoration: none;
}

.headermenu a:visited {
  color: #32586D; /* 訪れたことがある時のカラー*/
  text-decoration: none;
}

.headermenu a:hover {
  color: #815935; /* マウスポインタを置いた時のカラー*/
  text-decoration: none;
}

.headermenu a:active {
  color: #32586D; /* クリックした時のカラー*/
  text-decoration: none;
}

/*ロゴ画像の大きさ*/
#logoimg{
    width:350px; /*ロゴの長さ*/
	height:50px; /*ロゴの高さ*/
	margin:0 auto 0 auto;
	margin-top:38px; /*下に降ろす*/
	text-align:center;
}

/*メニューバーの編集ここまで*/


body {
  background-color: #F3F5F2; /*背景の色*/
  color:#32586D; /*文字の色*/
  text-align:center; /*文章を中心にする*/
  margin: 0 auto 0 auto; /*表を中央に表示*/
  max-width: 215px; /*要素がこれ以上大きくならない幅*/
}



/*独自のCSS*/
.recomendclothes{
    display: flex;
    justify-content: space-around;
     width: 500px; /*枠の横の幅*/
 	 margin:0 auto 0 auto; /*中央ぞろえ*/
  	 max-width: 960px; /*横最大*/
}
.coordregister {
    text-align: center;
}

.date {
    text-align: center;
}
.weatherbox {
    display: flex;
    justify-content: space-around;
    max-width: 360px;
    margin:0 auto 0 auto; /*中央ぞろえ*/
    height:150px;

}



#tops{
    user-select: none;/*カーソルで選択した時に青くならないようになる*/
    cursor: pointer;/*カーソルを乗せた時に矢印からポインターにかわわる*/
    color: #32586D;
    font-size:17px;

}

#outer{
    user-select: none;/*カーソルで選択した時に青くならないようになる*/
    cursor: pointer;/*カーソルを乗せた時に矢印からポインターにかわわる*/
    color: #32586D;
    font-size:17px;
}

#bottoms{
    user-select: none;/*カーソルで選択した時に青くならないようになる*/
    cursor: pointer;/*カーソルを乗せた時に矢印からポインターにかわわる*/
    color: #32586D;
    font-size:17px;
}
a {
    text-decoration: none;
}
img {
	width:100px;
	height:100px;
}

main{
    height: 100vw; /*スクロールしても固定*/
    padding: 0 auto 0 auto; /*何かを中央に表示*/
    max-width: 100%;
}

body{
	max-width: 100%;
}


.loginuserid{
	font-size: 12px;
	color: #F3F5F2;
}

h1{
	font-size: 20px;
}



/*変更・メインへ戻る リンクの色*/

.coordregister{ /* 通常時のカラー */
  color: #2B295F;
}

.coordregister a:link {/* 訪れたことのない時のカラー */
  color: #32586D;
  text-decoration: none;
}

.coordregister a:visited {
  color: #32586D; /* 訪れたことがある時のカラー*/
  text-decoration: none;
}

.coordregister a:hover {
  color: #CA3032; /* マウスポインタを置いた時のカラー*/
  text-decoration: none;
}

.coordregister a:active {
  color: #32586D; /* クリックした時のカラー*/
  text-decoration: none;
}

/*おすすめの組み合わせ*/
.recoClo{
	 background-color:#F7F6F5;
	 border:dashed 1.5px  #2B295F; /*囲みの線の形、大きさ、色*/
	 width: 700px; /*枠の横の幅*/
	 height:105px; /*枠の縦の幅*/
 	 margin:0 auto 0 auto; /*中央ぞろえ*/
 	 max-width: 1000px; /*横最大*/
 	 border-radius: 20px 20px 20px 20px; /*囲み線の角丸くする*/
}

/*今日の日付*/
.date{
	font-size: 20px;
}

.wmenu{
	height:160px;
}

/*コーディネート登録の横のちっさい画像*/
#Registimg{
	width:20px;
	height:18px;
}

/*気温の横のちっさい画像*/
#kion{
	width:20px;
	height:18px;
}