@charset "UTF-8";

/*メニューバー*/
.headermenu{
   /* background-color:brown; */
    position: fixed;

    z-index: index 999;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    display:flex;
    align-items: center;

}

.headermenu li{
    float: left;
}

.headermenu ul{
    list-style: none;
}

body{
    padding-top: 90px;

}

main{
    height: 100vw; /*スクロールしても固定*/
}


/* class="nav" */
.nav li {
    display: inline;		/* インラインで横に表示する */
    list-style-type: none;	/* 先頭の記号をなくす */
    padding-right: 30px;		/* 区切りを空ける */
    line-height: 0.5;
  }


/*プロフィール画面のテーブル*/
.profiletable{
	border-collapse:collapse; /*テーブルの間隔を指定する*/

}


.profiletable th, .profiletable td{
	padding: 8px;
	border: 1px solid #BDBEBF;
	text-align:center; /*表の中の文字を左寄せ*/

}

/*メニューバーの色*/
.headermenu{ /* 通常時のカラー */
  color: #2B295F;
}

.headermenu a:link {/* 訪れたことのない時のカラー */
  color: #32586D;
  text-decoration: none;
}

.headermenu a:visited {
  color: #32586D; /* 訪れたことがある時のカラー*/
  text-decoration: none;
}

.headermenu a:hover {
  color: #815935; /* マウスポインタを置いた時のカラー*/
  text-decoration: none;
}

.headermenu a:active {
  color: #32586D; /* クリックした時のカラー*/
  text-decoration: none;
}





/*ボディー全体*/
body {
  background-color: #F3F5F2; /*背景の色*/
  color:#32586D; /*文字の色*/
  text-align:center; /*文章を中心にする*/
  margin: 0 auto 0 auto; /*表を中央に表示*/
  max-width: 215px; /*要素の最大値を指定*/
}


/*変更・メインへ戻る リンクの色*/

.ProfileButton{ /* 通常時のカラー */
  color: #2B295F;
}

.ProfileButton a:link {/* 訪れたことのない時のカラー */
  color: #32586D;
  text-decoration: none;
}

.ProfileButton a:visited {
  color: #32586D; /* 訪れたことがある時のカラー*/
  text-decoration: none;
}

.ProfileButton a:hover {
  color: #CA3032; /* マウスポインタを置いた時のカラー*/
  text-decoration: none;
}

.ProfileButton a:active {
  color: #32586D; /* クリックした時のカラー*/
  text-decoration: none;
}
