@charset "UTF-8";

 .link {
    display: flex; /* Flexboxレイアウトを使用 */
    align-items: center; /* 要素を垂直方向に中央揃え */
  }

.link p,
.link input {
  margin: 0; /* パラグラフ要素とボタンの余白をリセット */
display: flex; /* Flexboxレイアウトを使用 */
align-items: center; /* 要素を垂直方向に中央揃え */
}

.link p {
  margin-right: 10px; /* パラグラフ要素とボタンの間に余白を設定 */
}

/*テーブル*/
table {
    margin: 0 auto;
}