@charset "UTF-8";
body {
  background-color: #F3F5F2; /*背景の色*/
  color:#32586D; /*文字の色*/
  text-align:center; /*文章を中心にする*/
  margin: 0 auto 0 auto; /*表を中央に表示*/
 /* max-width: 215px; */ /*要素がこれ以上大きくならない幅*/ /*これがあると中央がずれるゾ！！！！！*/
}

h3{
	margin-top: 2em;
	margin-bottom: 2em;
}

h4{
	margin-bottom: 0.5em;
}


/*ロゴ画像の大きさ*/
#logoimg{
    width:350px; /*ロゴの長さ*/
	height:50px; /*ロゴの高さ*/
	margin:0 auto 0 auto;
	border:0 auto 0 auto;
	padding:0 auto 0 auto;
	margin-top:38px; /*下に降ろす*/
	text-align:center;
}

/**/
head{
	margin: 0 auto 0 auto;
	text-align:center;
}

.logoimg{
	margin: 0 auto 0 auto;
	text-align:center;
}

/*登録 リンクの色*/

.MainBackLink{ /* 通常時のカラー */
  color: #2B295F;
  /*
  float: left;
  */
}

.MainBackLink a:link {/* 訪れたことのない時のカラー */
  color: #32586D;
  text-decoration: none;
}

.MainBackLink a:visited {
  color: #32586D; /* 訪れたことがある時のカラー*/
  text-decoration: none;
}

.MainBackLink a:hover {
  color: #CA3032; /* マウスポインタを置いた時のカラー*/
  text-decoration: none;
}

.MainBackLink a:active {
  color: #32586D; /* クリックした時のカラー*/
  text-decoration: none;
}

/*
.side{
	display:flex;
	align-items: center;
	margin-left: 500px
}

.side p{
	margin: 20px; */ /*スペース開ける*/
/*}*/

.link{
	display: flex;
	align-items: center;/*中央揃え*/
	margin: 0 auto 0 auto;
	/* text-align:center; */
	max-width: 270px;
}

.link p{
	margin: 20px; /*スペース開ける*/
}

.memo{
	font-size: 15px;
}

.warning{
	color: #f08080;
	margin-top: 5em;
}

/*ボタン装飾*/
#UserRegister{
	display:inline-block;
	background: #F4CFBE;
  	border-bottom: 5px solid;
  	box-shadow: 0 3px 5px rgba(0, 0, 0, .3); /*影つける*/
  	border-radius: 100vh;
}


#UserRegister:active{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

#UserRegister:hover{
  transform: translate3d(0, 5px, 0);
  margin-top: 3px;
  border-bottom: 2px solid;
  background-color:#F4CFBE;
  transition: .3s;
  top: 9px;
  box-shadow: 0 0;
}
/*
#border{
    border-top-width: 2.0px;	/* 破線の下線の大きさ */
   /* border-top-style: dashed;  */ /*下線を破線にする*/
   /* border-top-color: #B2D1D6; */ /*下線の色*/
/* } */

/*変更・メインへ戻る リンクの色*/

.link p{ /* 通常時のカラー */
  color: #2B295F;
}

.link p a:link {/* 訪れたことのない時のカラー */
  color: #32586D;
  text-decoration: none;
}

.link p a:visited {
  color: #32586D; /* 訪れたことがある時のカラー*/
  text-decoration: none;
}

.link p a:hover {
  color: #CA3032; /* マウスポインタを置いた時のカラー*/
  text-decoration: none;
}

.link p a:active {
  color: #32586D; /* クリックした時のカラー*/
  text-decoration: none;
}